body.login {
  width: 100%;
  height: 100%;
  background-attachment: fixed;
  background-image: url(../images/login_bg.jpg);
  background-position: 0 0;
  background-position: center 0;
  background-repeat: no-repeat;
  -webkit-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  zoom: 1;
}

#login h1 {
  height: 65px;
}

.login h1:before {
  display: inline-block;
  width: 140px;
  height: 70px;
  margin-left: -5px;
  background: url(../images/login_logo.png) no-repeat;
  content: '';
}

.login h1 a {
  display: block;
  display: none;
  width: 100%;
  font-family: '微软雅黑';
  font-size: 18px;
  font-weight: 400;
  color: #22777c;
  text-decoration: none;
  text-indent: inherit;
  text-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 15px #fff, 0 0 40px #1bf9f9, 0 0 70px #020f10;
  background-image: none;
}

.login #backtoblog a,
.login #nav a {
  color: #fff !important;
}

.login form {
  padding: 20px;
  margin-top: 10px;
  background: hsla(0, 0%, 100%, 0.8);
  border-radius: 6px;
}

.login form .forgetmenot {
  margin-top: 10px;
}

.login form .input {
  height: 32px;
  font-size: 18px;
  line-height: 32px;
  background: hsla(0, 0%, 98%, 0.5);
  border: 1px solid rgba(51, 153, 204, 0.35);
}

#login_error,
.login .message {
  margin-top: 20px;
}
.login .privacy-policy-page-link {
  display: none !important;
}
