/**
 * 多端全局css
 */
@charset "utf-8";

@font-face {
  font-family: 'sf-pro-text_regular';
  font-style: normal;
  font-weight: 400;
  src: local('☺︎'), url('../font/sf-pro-text_regular.woff2') format('woff2');
}

:root {
  --color-theme: transparent;
  --color-primary: #1890ff;
  --color-dark: #343a40;
  --color-gray: #666;
  --color-gray_dark: #999;
  --color-gray_light: #cccc;
  --color-gray_shallow: #eee;
  --color-white: #fff;
  /* 导航 */
  --color-red_shallow: #f17559;
  --color-yellow_shallow: #f2b25b;
  --color-golden: #f0dc59;
  --color-silver_yellow: #bbf15b;
  --color-violetred: #59e5f2;
  --color-blue: #5b9ff2;
  --color-purple: #6c59f1;

  /* 备用选项 */
  --color-main-background: #f8f8f9;
  --color-border: #e9eaed;
  --color-indigo: #6610f2;
  --color-pink: #e83e8c;
  --color-orange: #fd7e14;
  --color-yellow: #ffc107;
  --color-green: #28a745;
  --color-teal: #20c997;
  --color-secondary: #6c757d;
  --color-success: #28a745;
  --color-info: #17a2b8;
  --color-warning: #ffc107;
  --color-danger: #dc3545;
  --color-light: #f8f9fa;
}

:not(span) {
  color: var(--color-gray);
}

::-webkit-input-placeholder {
  /* WebKit browsers */
  color: var(--color-gray_dark);
}

:-moz-placeholder {
  /* Mozilla Firefox 4 to 18 */
  color: var(--color-gray_dark);
}

::-moz-placeholder {
  /* Mozilla Firefox 19+ */
  color: var(--color-gray_dark);
}

:-ms-input-placeholder {
  /* Internet Explorer 10+ */
  color: var(--color-gray_dark);
}

body {
  /* 开启硬件加速，让3d动画更流畅，防止页面出现空白/闪烁 */
  /* 该方法影响子元素position:fixed定位 */
  /* -webkit-transform: translate3d(0,0,0);
  -moz-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0); */
}

strong,
b {
  font-weight: bold;
  font-size: 115%;
  line-height: 2.4;
}

img[src=''],
img:not([src]) {
  display: none;
}

xmp {
  display: initial;
}
.log-text .beCareful {
  color: #d14;
  font-size: 95%;
  background-color: #f9f2f4;
}
#header .nav ul li a span i.menu_arrow {
  margin-left: 1px;
  margin-right: 0;
}

.items a:nth-of-type(n + 25) {
  display: none;
}

#continar-left .log-text a {
  margin: 0 2px;
}


/* 文章页table */
#continar-left table{
  width: 100%;
}
#continar-left table th,#continar-left table td{
  border: 1px solid rgba(0,0,0,.06);
  line-height: 2.6em;
  padding: 0 2px;
  text-align: center;
}
