/**
 * 多端全局css 
 */
@charset "utf-8";
@font-face {
	font-family: 'sf-pro-text_regular';
	font-style: normal;
	font-weight: 400;
	src: local('☺︎'), url('../font/sf-pro-text_regular.woff2') format('woff2');
}

:root {
	--color: transparent;
}

:not(span) {
	color: #666;
}
strong,
b {
	font-weight: bold;
	font-size: 115%;
	line-height: 2.4;
}
img[src=''],
img:not([src]) {
	display: none;
}
