@media screen and (min-width: 768px) and (max-width: 1199px) {
  * {
    padding: 0;
    margin: 0;
    font: 0.28rem 'sf-pro-text_regular', 'Montserrat', 'Microsoft Yahei';
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;

    /* touch-callout: none;长时间按住页面出现闪退,
    如果启用，那么图片默认长按存储到相册功能被禁止 */
  }

  html,
  body,
  form,
  fieldset,
  p,
  div,
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    text-size-adjust: none;

    /* 旋转屏幕时，字体大小调整的问题 */
  }

  em,
  i {
    font-style: normal;
  }

  input {
    box-sizing: border-box;
    appearance: none;
  }

  html {
    width: 100%;
    font-size: 65px;
  }

  body {
    width: 100%;
    overflow-x: hidden;

    /* chrome、safari */
    -moz-osx-font-smoothing: grayscale;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    user-select: none;
  }

  /* 初始化代码end */

  /* swiper轮播start */
  #js_banner,
  .hot_rticles {
    display: none !important;
  }

  .swiper-pagination-bullet {
    width: 0.6rem !important;
    height: 1.5px !important;
    background: var(--color-white) !important;
    border-radius: 0 !important;
    opacity: 1 !important;
  }

  .swiper-pagination-bullet-active {
    background: var(--color-primary) !important;
    background: var(--color-theme);
  }

  .swiper-container1,
  .swiper-wrapper {
    width: 100%;
    height: 100%;
    margin-right: auto;
    margin-left: auto;
  }

  .swiper-slide {
    display: flex;
    font-size: 18px;
    text-align: center;
    box-align: center;
    box-pack: center;
    -ms-flex-pack: center;
    -webkit-flex-pack: center;
    justify-content: center;
    -ms-flex-align: center;
    -webkit-flex-align: center;
    align-items: center;
  }

  .swiper-slide a {
    display: block;
    width: 100%;
    height: 100%;
  }

  #wowslider-container {
    display: none;
  }

  #mobil {
    position: relative;
    display: block !important;
    width: 100%;
    height: 7rem;
    min-height: 175px;
  }

  .swiper-container-horizontal > .swiper-pagination {
    bottom: 0.2rem !important;
  }

  /* swiper轮播end */

  /* 首页头部start */
  #header {
    position: relative;
    z-index: 10;
    width: 100%;
    height: 108px;
    margin-bottom: 15px;
    background-color: var(--color-white);
    border-bottom: 1px solid #eaeaea;
    opacity: 1;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.03);
  }

  .os-headertop .site-search {
    position: absolute;
    top: 1rem;
    left: 0;
    display: none;
    width: 100%;
    background-color: rgba(255, 255, 255, 0.95);
  }

  .container {
    position: relative;
    max-width: 1200px;
    padding: 0;
    margin: 0 auto;
  }

  .site-search-form {
    display: flex;
    padding: 0.5rem 0.4rem;
    overflow: hidden;
    justify-content: center;
  }

  .search-input {
    float: left;
    width: calc(100% - 1rem);
    height: 45px;
    padding: 4px 12px;
    font-size: 16px;
    font-size: 0.28rem;
    color: #606266;
    border: 1px solid #dcdfe6;
    border-right: none;
    border-radius: 4px 0 0 4px;
    outline: none;
  }

  .search-btn .iconfont {
    width: 16px;
    color: var(--color-white);
  }

  .search-btn {
    float: left;
    width: 1rem;
    height: 45px;
    padding: 0 12px;
    font-size: 16px;
    color: var(--color-white);
    cursor: pointer;
    background: var(--color-primary);
    background: var(--color-theme);
    border: none;
    border-radius: 0 4px 4px 0;
  }

  #header.hover {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 100;
    height: 80px;
    background: rgba(40, 40, 40, 0.9);
    border-bottom: 1px solid var(--color-primary);
    border-bottom: 1px solid var(--color-theme);
    opacity: 1;
    -ms-animation: box 0.5s linear;
    animation: box 0.5s linear;
  }

  #header.hover .topbar {
    height: auto;
    margin-top: 10px;
  }

  #header.hover .nav {
    margin-top: 37px;
  }

  #header.hover ul li a span {
    font-size: 16px;
    line-height: 28px;
    color: #e5e1e1;
  }

  #header.hover .nav ul li a span i {
    color: #e5e1e1;
  }

  #header.hover .site-search.active {
    top: 80px;
    background: var(--color-gray_shallow);
  }

  #header.hover .navto-search a {
    margin-top: 2px;
  }

  .header-conter {
    width: 1200px;
    height: 100%;
    margin: 0 auto;
    border-top: 1px solid transparent;
  }

  .topbar {
    width: 100%;
    height: 20px;
    margin: 20px 0;
    background: url('../images/loading1.png') no-repeat 810px 2px;
  }

  .topbar ul {
    float: right;
    width: 360px;
    height: 100%;
  }

  .topbar ul li {
    float: left;
    padding: 0 15px;
  }

  .topbar ul li a {
    display: block;
    color: var(--color-gray_dark);
    transition: all 0.35s;
  }

  #username {
    float: left;
  }

  #username a {
    display: block;
    float: left;
    padding: 0 15px;
    color: var(--color-gray_dark);
    transition: all 0.35s;
  }

  #username a i {
    padding: 0 3px;
    font-size: 14px;
    color: var(--color-gray_dark);
  }

  .nav {
    position: relative;
    width: 100%;
    height: 32px;
    margin: 0 auto;
  }

  .nav .nav-left {
    position: relative;
    top: 1px;
    float: left;
    height: 30px;
    padding-left: 10px;
    margin-left: 159px;
    font-size: 14px;
    line-height: 16px;
    color: #bbb;
    border-left: 2px solid #eaeaea;
  }

  .brand {
    float: left;
  }

  .brand p {
    padding-left: 10px;
    font-size: 14px;
    line-height: 16px;
    color: var(--color-gray_dark);
    transition: all 0.6s;
  }

  .nav ul {
    float: right;
    height: 32px;
    margin-top: 3px;
  }

  .nav ul.music-nav {
    margin-right: 45px;
  }

  .nav ul li {
    float: left;
    height: 100%;
    padding: 0 15px;
    line-height: 26px;
    -ms-perspective: 100px;
    perspective: 100px;
    perspective: 100px;
  }

  .nav ul li > a {
    position: relative;
    position: relative;
    float: left;
    width: 100%;
    height: 100%;
    transition: all 0.5s;
    -ms-transform-style: preserve-3d;
    -moz-transform-style: preserve-3d;
    transform-style: preserve-3d;
    transform-style: preserve-3d;
    -ms-transform-origin: center center -10px;
    transform-origin: center center -12px;
  }

  .nav ul li audio {
    display: none;
  }

  .nav ul li a span {
    display: block;
    float: left;
    font-size: 17px;
    text-align: center;
    backface-visibility: hidden;
  }

  .nav ul li a span:nth-of-type(2) {
    position: absolute;
    top: -20px;
    left: 0;
    -ms-transform: rotateX(90deg);
    transform: rotateX(90deg);
    -ms-transform-origin: bottom;
    transform-origin: bottom;
  }

  .nav ul li a span.hover {
    color: var(--color-primary);
    color: var(--color-theme);
  }

  .nav ul li a span.hover i {
    color: var(--color-primary);
    color: var(--color-theme);
  }

  /* 二级菜单start */
  .nav {
    position: relative;
  }

  .nav .nav-min {
    position: absolute;
    top: 45px;
    left: 657px;
    z-index: 3;
    display: none;
    background: rgba(255, 255, 255, 0.9);
    border: 1px solid #ddd;
    border-top: 0;
    box-shadow: 0 2px 2px rgba(0, 0, 0, 0.03);
  }

  .nav .nav-min-1 {
    left: 866px;
  }

  #header .nav-min a {
    display: block;
    padding: 10px 10px;
    font-size: 13px;
    color: #444;
    text-align: center;
    border-bottom: 1px solid var(--color-gray_shallow);
  }

  #header .nav-min a:last-child {
    border: 0;
  }

  #header .nav-min a.hover {
    color: #000;
    background: #ddd;
    transition: all 0.1s;
  }

  /* 二级菜单end */

  /* 控制导航图标start */
  .nav ul li span a i {
    display: inline-block;
    margin-left: 3px;
  }

  /* 控制导航图标end */

  /* 搜索按钮start */
  .navto-search {
    position: absolute;
    top: 5px;
    right: 0;
  }

  .navto-search a {
    display: block;
    padding: 0 15px;
    color: var(--color-gray);
  }

  /* 搜索按钮end */

  /* 跳跃的Logostart */

  @keyframes Top {
    0% {
      opacity: 0;
      transform: translateY(-108px);
    }

    50% {
      opacity: 0;
    }

    80% {
      opacity: 0.9;
      transform: translateY(30px);
    }

    100% {
      opacity: 1;
      transform: translateY(0px);
    }
  }

  @-ms-keyframes Top {
    0% {
      -ms-transform: translateY(-108px);
    }

    50% {
      opacity: 0;
    }

    80% {
      opacity: 0.9;
      -ms-transform: translateY(30px);
    }

    100% {
      opacity: 1;
      -ms-transform: translateY(0px);
    }
  }

  @keyframes move {
    0% {
      transform: translateY(0px);
    }

    100% {
      transform: translateY(-8px);
    }
  }

  @-ms-keyframes move {
    0% {
      -ms-transform: translateY(0px);
    }

    100% {
      -ms-transform: translateY(-8px);
    }
  }

  @keyframes playLeft {
    0% {
      opacity: 0;
      transform: translateX(-890px);
    }

    50% {
      opacity: 1;
    }

    100% {
      opacity: 1;
      transform: translateX(0px);
    }
  }

  @-ms-keyframes playLeft {
    0% {
      opacity: 0;
      -ms-transform: translateX(-890px);
    }

    50% {
      opacity: 1;
    }

    100% {
      opacity: 1;
      -ms-transform: translateX(0px);
    }
  }

  @keyframes playRight {
    0% {
      opacity: 0;
      transform: translateX(435px);
    }

    50% {
      opacity: 1;
    }

    100% {
      opacity: 1;
      transform: translateX(0px);
    }
  }

  @-ms-keyframes playRight {
    0% {
      opacity: 0;
      -ms-transform: translateX(435px);
    }

    50% {
      opacity: 1;
    }

    100% {
      opacity: 1;
      -ms-transform: translateX(0px);
    }
  }

  @keyframes Footer {
    0% {
      opacity: 0;
      transform: translateY(125px);
    }

    100% {
      opacity: 1;
      transform: translateY(0px);
    }
  }

  @-ms-keyframes Footer {
    0% {
      opacity: 0;
      -ms-transform: translateY(125px);
    }

    100% {
      opacity: 1;
      -ms-transform: translateY(0px);
    }
  }

  /* 吸顶盒导航start */

  @keyframes box {
    0% {
      height: 0px;
      opacity: 0;
    }

    100% {
      height: 80px;
      opacity: 1;
    }
  }

  @-ms-keyframes box {
    0% {
      height: 0px;
      opacity: 0;
    }

    100% {
      height: 80px;
      opacity: 1;
    }
  }

  /* 吸顶盒导航end */

  #Logo {
    position: absolute;
    top: -13px;
    left: 0;
    display: block;
    width: 140px;
    height: 60px;
    -ms-transition: 0.5s;
    transition: 0.5s;
  }

  .nav span.logo {
    display: block;
    float: left;
    width: 40px;
    height: 100%;
    overflow: hidden;
    background: url('../images/logo_01.png') no-repeat center center;
  }

  #Logo ul {
    margin-top: 12px;
  }

  #Logo ul li {
    float: left;
    width: 32px;
    height: 100%;
    margin-top: 2px;
  }

  #Logo ul li:nth-child(1) {
    background: url('../images/logo_02.png');
    -ms-animation: move 0.2s 0.1s alternate infinite;
    animation: move 0.2s 0.1s alternate infinite;
  }

  #Logo ul li:nth-child(2) {
    background: url('../images/logo_03.png');
    -ms-animation: move 0.2s 0.2s alternate infinite;
    animation: move 0.2s 0.2s alternate infinite;
  }

  #Logo ul li:nth-child(3) {
    background: url('../images/logo_04.png');
    -ms-animation: move 0.2s 0.3s alternate infinite;
    animation: move 0.2s 0.3s alternate infinite;
  }

  /* 小飞机start */
  #aircraft {
    position: fixed;
    right: 5px;
    bottom: 30px;
    z-index: 99;
    display: none;
    width: 47px;
    height: 64px;
  }

  #aircraft font {
    font-size: 0.6rem;
    line-height: 64px;
    color: var(--color-primary);
    color: var(--color-theme);
    text-align: center;
  }

  /* 小飞机end */

  /* 正文区域start */
  .continar {
    width: 100%;
    height: calc(100% - 1rem);
    margin: 0 auto;
    overflow: hidden;
  }

  .continar .search_404 {
    position: fixed;
    top: 50%;
    left: 50%;
    display: none;
    max-width: 90%;
    transform: translate(-50%, -50%);
  }

  /* 左边区域start */
  .continar #continar-left {
    width: 100%;
  }

  /* .continar .article_list{
    padding: 0 0.26rem;
  } */

  .continar .single {
    padding: 0.25rem;
    background: var(--color-white);
    border: 1px solid #e6e6e6;
  }

  .single video {
    display: block;
    width: 100%;
    height: auto;
    margin: 0 auto;
  }

  .continar #continar-left .mod-crumbs {
    display: none;
  }

  .continar .continar-left-top {
    width: 100%;
    padding: 0.2rem 0.26rem;
    margin-bottom: 5px;
    overflow: hidden;
    background-color: var(--color-white);
    border-bottom: 1px solid var(--color-gray_shallow);
    border-radius: 4px;
    transition: all 0.35s;
  }

  .continar .continar-left-top h1 {
    display: none;
    margin: 0;
    font-size: 18px;
    font-weight: bold;
    line-height: 24px;
    transition: all 0.35s;
  }

  .continar .continar-left-top > span {
    display: none;
  }

  .continar .continar-left-top h1:nth-child(1),
  .continar .continar-left-top h1:nth-child(2) {
    display: block;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }

  .continar .continar-left-top h1 a {
    font-size: 0.32rem;
    font-weight: normal;
  }

  .continar .continar-left-top h1 span {
    margin-left: -8px;
    font-size: 0.32rem;
    color: var(--color-primary);
    color: var(--color-theme);
    transition: all 0.25s;
  }

  .continar .continar-left-top p {
    display: flex;
    width: 100%;
    margin: 0;
    overflow: hidden;
    line-height: 25px;
    color: var(--color-gray);
    text-indent: 2em;
    -moz-box-orient: vertical;
    box-orient: vertical;
    box-orient: vertical;
    -moz-line-clamp: 2;
    line-clamp: 2;
    line-clamp: 2;
  }

  .continar .continar-left-top > span {
    display: block;
    display: none;
    height: 0.82rem;
    margin: 0.15rem 0 0rem;
    overflow: hidden;
    overflow: hidden;
    font-size: 0.28rem;
    line-height: 0.5rem;
    line-height: 0.42rem;
    color: var(--color-gray);
    text-indent: 2em;
    box-orient: vertical;
    line-clamp: 2;
  }

  .continar .continar-left-top > span:nth-of-type(1) {
    display: block;
  }

  /* 邮件订阅start */
  .continar .inner-box {
    padding: 0.3rem 0.26rem;
    margin-bottom: 10px;
    background: var(--color-white);
    border-bottom: 1px solid var(--color-gray_shallow);
    border-radius: 4px;
    transition: all 0.35s;
  }

  .continar .rssbook {
    text-align: center;
  }

  .continar .rssbook h3 {
    margin-bottom: 0.06rem;
    font-size: 0.3rem;
    font-weight: normal;
    color: var(--color-gray);
  }

  .rssbook p {
    margin: 5px auto 10px;
    font-size: 0.28rem !important;
    line-height: 24px;
    color: var(--color-gray);
  }

  .rssbook form {
    display: flex;
    margin: 0 auto;
    justify-content: center;
  }

  .wpm_form .wpm_email,
  .wpm_form .wpm_submit {
    margin: 0;
  }

  .wpm_form .wpm_email input {
    width: 3.8rem;
    padding: 0.22rem 0.32rem;
    padding-left: 0;
    margin-right: 0;
    text-indent: 0.1rem;
    background: var(--color-white);
    border: 1px solid #d9d9d9;
    border-right: 0;
    border-radius: 0.06rem 0 0 0.06rem;
  }

  .wpm_form .wpm_submit input {
    padding: 0.2rem 0.3rem 0.22rem;
    color: var(--color-white);
    background: var(--color-primary);
    background: var(--color-theme);
    border: none;
    border-radius: 0 0.06rem 0.06rem 0;
  }

  .wpm_form .wpm_email input:focus {
    border-color: #40a9ff;
    border-right-width: 1px !important;
    outline: 0;
  }

  .wpm_form .wpm_email input::-webkit-input-placeholder {
    color: #bfbfbf;
  }

  .wpm_form .wpm_email input::-moz-input-placeholder {
    color: #bfbfbf;
  }

  .wpm_form .wpm_email input::-ms-input-placeholder {
    color: #bfbfbf;
  }

  /* 邮件订阅end */

  #continar-left .article_list article {
    position: relative;
    height: auto;
    padding: 0.15rem 0.26rem;
    overflow: hidden;
    background: var(--color-white);
    border-bottom: 1px solid var(--color-gray_shallow);
    transition: all 0.35s;
  }

  #continar-left .article_list article:nth-of-type(1) {
    margin-top: 0.2rem;
  }

  #continar-left .article_list article .text_right {
    float: none;
    width: 100%;
  }

  #continar-left .article_list article .text_right > h2 {
    margin-bottom: 0.15rem;
  }

  #continar-left .article_list article .text_right > h2.topping {
    width: calc(100% - 0.55rem);
  }

  ul.post-categories li {
    display: none;
  }

  ul.post-categories li:first-child {
    display: block;
  }

  .text_right h2 span:nth-child(1) {
    position: relative;
    top: 0;
    display: none;
    float: left;
    padding: 2px 6px;
    margin-right: 6px;
    font-size: 12px;
    color: var(--color-white);
    background: var(--color-primary);
    background: var(--color-theme);
  }

  .text_right h2 span:nth-child(1) i {
    position: absolute;
    top: 50%;
    right: -4px;
    display: inline-block;
    width: 0;
    height: 0;
    margin-top: -4px;
    vertical-align: middle;
    border-top: 4px solid transparent;
    border-bottom: 4px solid transparent;
    border-left: 4px solid var(--color-primary);
    border-left: 4px solid var(--color-theme);
  }

  .text_right h2 span:nth-child(1) a {
    display: block;
    font-size: 0.24rem;
    font-weight: normal;
    color: var(--color-white);
  }

  .article_list article h2 a {
    font-size: 0.32rem;
    font-weight: normal;
    line-height: 1.8;
    color: #444;
    color: var(--color-dark);
    transition: all 0.35s;
  }

  .article_list article em {
    position: absolute;
    top: 0.2rem;
    right: 0.2rem;
    display: block;
    font-style: normal;
    color: var(--color-white);
    background: var(--color-primary);
    background: var(--color-theme);
    opacity: 0.8;
    transition: all 0.35s;
  }

  .article_list article em a {
    display: block;
    height: 100%;
    padding: 0.02rem 0.15rem;
    font-size: 0.24rem;
    color: var(--color-white);
    text-align: center;
  }

  .article_list article em:after {
    position: absolute;
    top: 0.2rem;
    left: 50%;
    z-index: -1;
    margin-left: -2px;
    border: 8px dashed transparent;
    border-left: 8px solid var(--color-primary);
    border-left: 8px solid var(--color-theme);
    border-right-width: 0;
    content: '';
  }

  .sep,
  .space {
    padding: 0 0.2rem;
    font-style: normal;
    color: var(--color-gray_dark);
  }

  .article_list article h3 {
    display: -webkit-box;
    float: right;
    width: calc(100% - 2rem);
    overflow: hidden;
    font-size: 0.26rem;
    font-weight: normal;
    line-height: 0.5rem;
    -webkit-box-orient: vertical;
    -moz-box-orient: vertical;
    box-orient: vertical;
    -webkit-line-clamp: 2;
    -moz-line-clamp: 2;
    line-clamp: 2;
  }

  .article_list article .img-left img,
  .article_list article .text_right .read-more {
    display: none !important;
  }

  .mod-category__article-time {
    display: none;
  }

  #continar-left p.l > span a {
    display: block;
    height: 100%;
  }

  #continar-left p.l {
    display: -webkit-flex;
    display: flex;
    float: right;
    width: calc(100% - 2rem);
    height: 0.32rem;
    margin-top: 0.15rem;
    line-height: 0.32rem;
    -webkit-justify-content: space-between;
    justify-content: space-between;
  }

  #continar-left p.l span,
  #continar-left p.l a {
    font-size: 0.24rem;
    color: #d0d0d0 !important;
    vertical-align: middle;
  }

  #continar-left p.l .iconfont {
    margin-right: 3px;
    font-size: 0.24rem;
    color: #e0e0e0;
    vertical-align: middle;
  }

  .text_right > h2 + img {
    float: left;
    max-width: 1.8rem;
    max-height: 1.2rem;
    border-radius: 4px;
  }

  #continar-left p.l > span.p_time {
    display: none;
  }

  #continar-left p.l > span.i_time {
    display: inline-block;
  }

  /* 右侧区域start */
  #continar-right {
    display: none;
    float: none;
    width: 100%;
    height: auto;
    margin-bottom: 0px;
    -ms-transform: translateX(0px);
    transform: translateX(0px);
  }

  aside {
    padding: 0.26rem;
    color: var(--color-gray);
    background: var(--color-white);
    border: 1px solid #e6e6e6;
    border-radius: 4px;
    transition: all 0.35s;
  }

  aside h3 {
    position: relative;
    padding-bottom: 0.16rem;
    margin-bottom: 0.2rem;
    font-size: 0.3rem;
    font-weight: 700;
    color: var(--color-gray);
    text-indent: 0.2rem;
    border-bottom: 1px solid var(--color-gray_shallow);
  }

  aside h3:before {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 0.08rem;
    height: 0.38rem;
    background: #bbb;
    content: '';
  }

  p.clearfix {
    margin: 0 0 0.2rem 0 !important;
    font-size: 0.3rem !important;
  }

  p.clearfix a {
    font-size: 0.3rem !important;
    color: var(--color-primary);
    color: var(--color-theme);
  }

  /* 热门文章start */
  .widget {
    width: 100%;
    overflow: hidden;
    background: var(--color-white);
    border: 1px solid #eaeaea;
    border-bottom: 0;
    border-radius: 0.08rem;
    transition: all 0.35s;
  }

  .daily-list {
    padding: 0 0.2rem;
    font-size: 0.3rem;
    font-weight: 700;
    color: var(--color-gray);
  }

  .widget-title {
    padding: 0.22rem 0.3rem 0.2rem 0;
    margin: 0;
    background-color: #fbfbfb;
  }

  .widget-title a {
    position: relative;
    display: inline-block;
    font-size: 0.32rem;
    font-weight: normal;
    color: var(--color-gray);
  }

  .daily-list > p {
    padding-bottom: 0.2rem;
    font-size: 0.26rem;
    font-weight: normal;
    line-height: 0.5rem;
    color: #444;
    border-bottom: 1px solid var(--color-gray_shallow);
  }

  .daily-list > p a {
    color: var(--color-primary);
    color: var(--color-theme);
  }

  .widget ul li {
    position: relative;
    margin-bottom: 0.08rem;
    line-height: 0.6rem;
    word-break: break-all;
    transition: all 0.3s;
  }

  .daily-title {
    position: relative;
    display: block;
    padding-left: 0.24rem;
    font-size: 0.24rem;
    font-weight: normal;
    line-height: 0.36rem;
  }

  .daily-title:before {
    position: absolute;
    top: 0.08rem;
    left: -0.06rem;
    display: block;
    width: 0.08rem;
    height: 0.08rem;
    border: 0.04rem solid var(--color-gray_light);
    border-radius: 100%;
    content: '';
  }

  .daily-desc {
    height: 0.9rem;
    padding: 0.1rem 0 0px 0.2rem;
    margin-bottom: 0.2rem;
    overflow: hidden;
    font-size: 0.28rem;
    font-weight: normal;
    line-height: 0.36rem;
    border-left: 0.04rem solid var(--color-gray_light);
  }

  div.com-art ul li {
    width: 95%;
    height: 0.6rem;
    overflow: hidden;
    font-size: 0.26rem;
    line-height: 0.6rem;
  }

  .widget ul li i.iconfont {
    position: absolute;
    top: 0.02rem;
    left: 0;
    display: inline-block;
    width: 0.32rem;
    height: 0.4rem;
    font-size: 0.28rem;
    font-style: normal;
    font-weight: normal;
    line-height: 0.4rem;
    color: #f78585;
    text-align: center;
  }

  .widget ul li a {
    display: block;
    display: block;
    margin-left: 0.6rem;
    overflow: hidden;
    font-size: 0.26rem;
    font-weight: normal;
    line-height: 0.55rem;
    text-overflow: ellipsis;
    white-space: nowrap;
  }

  #piano .widget-title {
    margin-bottom: 0.1rem;
  }

  #piano ul li {
    height: auto;
    padding: 0.2rem 0;
    margin-bottom: 0;
    line-height: normal;
    border-bottom: 1px solid var(--color-gray_shallow);
    box-sizing: content-box;
  }

  #piano ul li:last-of-type {
    border: 0;
  }

  #piano ul li a {
    display: block;
    width: 100%;
    height: 0.42rem;
    margin-left: 0.45rem;
    font-size: 0.28rem;
    line-height: normal;
  }

  #piano ul li i.icon-jiantou {
    margin-top: 0.17rem;
    font-size: 0.32rem;
    color: #808695;
    vertical-align: middle;
    transform: rotate(270deg);
  }

  /* 热门文章end */

  /* 技术分类start */
  .classif {
    position: relative;
    overflow: hidden;
    clear: both;
    background-color: var(--color-white);
    border: 1px solid #eaeaea;
    border-radius: 0.08rem;
    transition: all 0.35s;
  }

  .classif h3,
  .widget h3 {
    position: relative;
    padding: 0.22rem 0.14rem 0.2rem;
    margin: 0;
    font-size: 0.32rem;
    color: var(--color-gray);
    background-color: #fbfbfb;
  }

  .items {
    padding: 0.26rem 0.2rem 0.2rem 0.2rem;
    overflow: hidden;
  }

  .items a {
    padding: 0 0.16rem;
    overflow: hidden;
    font-size: 0.26rem !important;
    font-size: 0.26rem !important;
    line-height: 0.7rem;
    color: var(--color-gray_dark);
    background-color: var(--color-gray_shallow);
    -webkit-transition: all 0.35s;
    transition: all 0.35s;
  }

  /* 技术分类end */

  /* 右侧区域end */

  /* 底部分页start */
  .pagination {
    display: block;
    padding: 20px;
    margin-bottom: 20px;
    font-size: 12px;
    text-align: center;
  }

  .pagination ul {
    display: inline-block;
    padding: 0;
    margin-bottom: 0;
    margin-left: 0;
  }

  .pagination ul > li {
    display: inline;
    font-size: 12px;
  }

  .pagination ul > li > a {
    float: left;
    padding: 5px 12px;
    margin: 0 2px;
    color: var(--color-gray);
    background-color: #ddd;
    border-radius: 2px;
    opacity: 0.88;
  }

  .pagination ul > li > span {
    float: left;
    padding: 5px 12px;
    margin: 0 2px;
    color: var(--color-gray);
    background-color: #ddd;
    border-radius: 2px;
    opacity: 0.88;
  }

  .pagination ul > li.active span {
    color: var(--color-white);
    background-color: #61b3e6;
  }

  /* 底部分页end */

  /* 左边区域end */

  /* 正文区域end */

  /* 底部区域start */
  .footer {
    position: relative;
    z-index: 9;
    width: 100%;
    padding: 0.1rem 0;
    overflow: hidden;
    clear: both;
    font-size: 0.24rem;
    line-height: 12px;
    color: var(--color-white);
    text-align: center;
    background: var(--color-primary);
    background: var(--color-theme);
    border-top: 1px solid #eaeaea;
    opacity: 1;
    -ms-transform: translateY(0px);
    transform: translateY(0px);
  }

  .footer a {
    font-size: 0.26rem;
    color: var(--color-white);
    text-decoration: underline;
  }

  .footer p,
  .footer span {
    margin: 0 0 10px;
    font-size: 0.26rem;
    line-height: 0.44rem;
    color: var(--color-white);
    text-align: center;
  }

  .footer p:first-of-type {
    margin-top: 0;
  }

  .footer_hide {
    display: none;
  }

  /* 底部区域end */

  /* 关于我页面start */
  #about_page #continar-left,
  #leaving_message #continar-left {
    float: none;
    width: auto !important;
    padding: 0 0.25rem;
    overflow: hidden;
    background: var(--color-white);
    border-radius: 0.1rem;
    border-radius: 0;
  }

  #about_page ul {
    padding-left: 0;
  }

  #about_page ul li {
    float: left;
    width: 100%;
    margin-bottom: 0.2rem;
    font-size: 0.32rem;
    text-indent: 2em;
    list-style: none;
  }

  #about_page ul li span {
    display: block;
    font-size: 0.36rem;
    line-height: 0.6rem;
    flex: 1;
  }

  #about_page ul li a {
    font-size: 0.32rem;
  }

  #about_page ul li.esp {
    display: flex;
  }

  .mod-breadcrumb i.iconfont {
    font-size: 0.3rem;
    color: var(--color-gray);
  }

  #continar-left .mod-breadcrumb {
    padding: 0.2rem 0.3rem;
    font-size: 0.3rem;
    color: var(--color-gray);
    background: var(--color-white);
  }

  #continar-left .mod-breadcrumb a {
    font-size: 0.3rem;
    color: var(--color-gray);
  }

  .clearfix:after {
    display: block;
    height: 0;
    clear: both;
    font-size: 0;
    content: ' ';
    visibility: hidden;
  }

  #continar-left p {
    line-height: 0.6rem;
  }

  #continar-left div.key-w {
    margin-bottom: 0.5rem;
  }

  div.key-w + .text-post {
    margin-bottom: 0.15rem;
  }

  #continar-left p.text-post {
    margin: 0.3rem 0;
  }

  /* 相关文章推荐start */
  .cat-title {
    padding: 7px 0;
    margin: 15px 0;
    color: var(--color-gray);
    background: #f5f5f5;
    border-bottom: 1px solid #f1f1f1;
  }

  .cat-title span {
    margin-left: 0.2rem;
    font-size: 0.28rem;
    font-weight: normal;
  }

  .live {
    margin: 0 !important;
    overflow: hidden;
  }

  .live > li {
    position: relative;
    padding: 0 0 0 1.5em;
    margin: 0 0 0.7em 0.2rem;
    list-style: none;
    -webkit-transition: 0.12s;
    transition: 0.12s;
  }

  .live > li::before {
    position: absolute;
    top: 0;
    left: 0;
    font-family: 'Arial';
    font-size: 2em;
    line-height: 0.75;
    color: #111;
    text-align: center;
    content: '\2022';
    opacity: 0.5;
    -webkit-transition: 0.5s;
    transition: 0.5s;
  }

  .live a {
    font-size: 0.26rem;
    text-decoration: none;
  }

  .live a:hover {
    color: #009cee;
  }

  /* 相关文章推荐end */
  .mod-category__article-time {
    display: none;
  }

  div.key-w {
    padding-top: 0.25rem;
    margin: 10px 0;
    clear: both;
    font-size: 14px;
  }

  #continar-left div.key-w .single_lable {
    display: inline-block;
  }

  div.key-w a {
    padding: 5px 12px;
    font-size: 14px;
    line-height: 17px;
    color: var(--color-white);
    text-indent: 0;
    border-radius: 0.04rem;
  }

  div.key-w a:hover {
    color: var(--color-white);
  }

  #continar-left > h2 {
    color: var(--color-gray);
  }

  #continar-left p a {
    padding: 0 0.1rem;
    padding-right: 0;
    padding-left: 0px;
    font-size: 0.36rem;
    color: var(--color-gray);
  }

  ul.bon-1 {
    margin-bottom: 20px;
  }

  ul.bon-1 li {
    line-height: 32px;
    text-indent: 50px;
  }

  ul.bon-1 li:nth-of-type(2) {
    display: block;
  }

  /* 关于我页面end------------------------------------------------------------------------------------- */

  /* 用户中心start */
  .head_user {
    position: relative;
    width: 100%;
    margin: 0px auto 0.12rem;
    overflow: hidden;
  }

  .head_user_b {
    width: calc(100% + 0.5rem);
    margin-left: -0.25rem;
    background: url(../images/about_page.jpg) no-repeat center left;
    background-size: auto 100%;
  }

  .head_avatar {
    padding: 0.3rem 0 0.12rem;
    text-align: center;
  }

  .head_avatar img {
    width: 1.4rem;
    height: 1.4rem;
    border: 3px solid rgba(255, 255, 255, 0.53);
    border-radius: 100%;
  }

  .head_avatar_a {
    position: relative;
    font-size: 0.24rem;
    line-height: 0.3rem;
    color: var(--color-white);
    text-align: center;
  }

  .head_avatar_a .vip_aa img {
    vertical-align: inherit;
  }

  #continar-left .head_avatar_b p {
    font-size: 0.28rem;
    line-height: 0.32rem;
    color: var(--color-white);
    text-align: center;
  }

  .head_avatar_c {
    margin-top: 0.3rem;
    text-align: center;
  }

  .head_user_a {
    height: 4.5rem;
  }

  .head_avatar_a {
    position: relative;
    font-size: 0.5rem;
    line-height: 0.6rem;
    color: var(--color-white);
    text-align: center;
  }

  .head_avatar_a p {
    font-size: 0.4rem;
    line-height: 0.6rem;
    color: var(--color-white);
    text-align: center;
  }

  .head_avatar_a .vip_aa img {
    vertical-align: inherit;
  }

  .head_user_data {
    position: absolute;
    bottom: 0;
    left: 0;
    z-index: 1;
    padding: 0.1rem 0.2rem 0.1rem 0.24rem;
    background: var(--color-white);
    border-radius: 0 0.2rem 0px 0;
  }

  .head_user_data span {
    margin-right: 0.4rem;
  }

  .head_avatar_c span {
    padding: 0.08rem 0.24rem;
    margin: 0.3rem;
    font-size: 0.28rem;
    color: var(--color-white);
    cursor: pointer;
    border-radius: 0.08rem;
  }

  span.follow-btn.unfollowed {
    background: #fa7d3c;
    border: 1px solid #f77268;
  }

  span.follow-btn.unfollowed i {
    color: var(--color-white);
  }

  .lv {
    display: inline-block;
    width: 0.66rem;
    height: 0.34rem;
    vertical-align: sub;
    background: url(../images/lv.png) no-repeat;
  }

  .lv45 {
    background-position: -4rem -6.7rem;
  }

  /* 用户中心end */

  /* 详情页start */
  .search_result #continar-left {
    float: none;
    width: auto !important;
    padding: 0 0.25rem;
    padding: 0;
    overflow: hidden;
    background: transparent;
    border: 0;
    border-radius: 0.1rem;
    border-radius: 0;
  }

  div.nav-s {
    width: 820px;
    height: 40px;
    overflow: hidden;
    font-size: 14px;
    line-height: 40px;
    color: var(--color-gray);
    border-radius: 5px;
  }

  div.nav-s a {
    display: inline-block;
    margin-right: 40px;
    font-size: 14px;
    color: var(--color-dark);
  }

  div.nav-s a:nth-child(1) {
    position: relative;
    padding: 0px 25px 0px 35px;
    color: var(--color-white);
    background: var(--color-primary);
    background: var(--color-theme);
    -moz-border-radius: 4px 0px 0px 4px;
    border-radius: 4px 0px 0px 4px;
    border-radius: 4px 0px 0px 4px;
  }

  div.nav-s font {
    font-size: 14px;
    color: var(--color-gray);
  }

  div.nav-s a:nth-child(1):after {
    position: absolute;
    top: 0px;
    right: -40px;
    border-top: 20px solid transparent;
    border-right: 20px solid transparent;
    border-bottom: 20px solid transparent;
    border-left: 20px solid var(--color-primary);
    border-left: 20px solid var(--color-theme);
    content: '';
  }

  div.nav-s a:nth-child(2) {
    position: relative;
    padding: 0px 25px 0px 15px;
    background: #f1f1f1;
  }

  div.nav-s a:nth-child(2):before,
  div.nav-s a:nth-child(3):before,
  div.nav-s a:nth-child(4):before {
    position: absolute;
    top: 0px;
    left: -40px;
    border-top: 20px solid #f1f1f1;
    border-right: 20px solid #f1f1f1;
    border-bottom: 20px solid #f1f1f1;
    border-left: 20px solid transparent;
    content: '';
  }

  div.nav-s span {
    position: relative;
    display: inline-block;
    padding: 0px 79px 0px 15px;
    font-size: 14px;
    color: var(--color-dark);
    background: #f1f1f1;
    -moz-border-radius: 0px 4px 4px 0px;
    border-radius: 0px 4px 4px 0px;
    border-radius: 0px 4px 4px 0px;
  }

  div.nav-s span:before {
    position: absolute;
    top: 0px;
    left: -36px;
    border-top: 20px solid #f1f1f1;
    border-right: 20px solid #f1f1f1;
    border-bottom: 20px solid #f1f1f1;
    border-left: 20px solid transparent;
    content: '';
  }

  div.nav-s a:nth-child(2):after {
    position: absolute;
    top: 0px;
    right: -40px;
    border-top: 20px solid transparent;
    border-right: 20px solid transparent;
    border-bottom: 20px solid transparent;
    border-left: 20px solid #f1f1f1;
    content: '';
  }

  div.nav-s a:nth-child(3):before {
    position: absolute;
    top: 0px;
    left: -36px;
    border-top: 20px solid #f1f1f1;
    border-right: 20px solid #f1f1f1;
    border-bottom: 20px solid #f1f1f1;
    border-left: 20px solid transparent;
    content: '';
  }

  div.nav-s a:nth-child(3) {
    position: relative;
    padding: 0px 25px 0px 15px;
    background: #f1f1f1;
  }

  div.nav-s a:nth-child(3):after {
    position: absolute;
    top: 0px;
    right: -40px;
    border-top: 20px solid transparent;
    border-right: 20px solid transparent;
    border-bottom: 20px solid transparent;
    border-left: 20px solid #f1f1f1;
    content: '';
  }

  div.nav-s a {
    margin-right: 40px;
  }

  h1.title {
    display: block;
    margin: 0.2rem auto 0.1rem;
    overflow: hidden;
    font-family: '微软雅黑';
    font-size: 0.38rem;
    font-weight: 500;
    line-height: 0.7rem;
    color: var(--color-dark);
    text-align: center;
    text-overflow: ellipsis;
    white-space: nowrap;
  }

  .article-items {
    display: flex;
    width: 100%;
    height: 30px;
    padding-bottom: 0.7rem;
    margin: 0 auto;
    line-height: 30px;
    text-align: center;
    border-bottom: 1px solid var(--color-gray_shallow);
    flex-wrap: wrap;
    justify-content: center;
  }

  .article-items > span {
    margin: 0.05rem 0.1rem;
    font-size: 0.24rem;
    color: var(--color-gray);
  }

  .article-items > span:last-of-type {
    display: none;
  }

  .article-items > span.recommend {
    display: none;
  }

  .article-items > span i {
    font-size: 0.28rem;
    color: var(--color-gray);
    vertical-align: initial;
  }

  /* .codecolorer-container.solarized-dark table td.line-numbers {
    display: none !important;
  } */
  .codecolorer-container table {
    width: 100%;
    background-color: #272822;
  }

  .codecolorer-container table td.line-numbers div {
    width: 20px;
    padding: 7px 0px 3px 0px;
    color: #839496;
    text-align: center;
    background: #282c34;
  }

  .solarized-dark .codecolorer .co0,
  .solarized-dark .codecolorer .co1,
  .solarized-dark .codecolorer .co2,
  .solarized-dark .codecolorer .co3,
  .solarized-dark .codecolorer .co4,
  .solarized-dark .codecolorer .coMULTI {
    font-style: italic;
    color: #5c6370;
  }

  td.line-numbers {
    width: 20px;
  }

  .codecolorer {
    padding: 5px 0 5px 5px;
    color: #66d9ef;
    border-left: 2px solid #7ad03a;
  }

  .codecolorer-container {
    margin: 0 auto;
  }

  .log-text * {
    line-height: 25px;
    text-indent: 2em;
  }

  #continar-left .log-text a {
    color: var(--color-primary);
    color: var(--color-theme);
  }

  #continar-left .log-text p.reward-p {
    text-align-last: center;
  }

  .log-text .beCareful {
    padding: 0.2em 0.4em;
    margin: 0;
    border-radius: 3px;
  }

  #continar-left .post-motto {
    padding: 0.2rem 0.25rem;
    margin: 0.3rem 0;
    font-size: 0.25rem;
    font-weight: bold;
    line-height: 2;
    color: #856404;
    text-indent: 0;
    background-color: #fff3cd;
    border-color: #ffeeba;
    border-radius: 2px;
    transition: all 0.3s;
  }

  .log-text img {
    display: block;
    height: auto;
    max-width: 100%;
    margin: 0 auto;
  }

  p.text-post {
    width: 100%;
    font-size: 0.3rem;
    line-height: 18px;
    color: var(--color-gray);
  }

  p.text-post a {
    font-size: 0.3rem;
  }

  .codecolorer .st0,
  .codecolorer .st_h,
  .codecolorer .es0,
  .codecolorer .es1 {
    color: #e6db74;
  }

  .codecolorer .kw3,
  .codecolorer .kw4,
  .codecolorer .kw5,
  .codecolorer .re2 {
    color: #ff1493;
  }

  div.key-w a {
    padding: 5px 15px;
    margin: 0 5px;
    background: var(--color-primary);
    background: var(--color-theme);
    border-radius: 3px;
  }

  /* 详情页end--------------------------------------------------------------------------------- */

  /* 留言页面start */
  .nav-s1 {
    width: 100%;
    padding: 0 0px 0.5rem;
    margin: 0.5rem 0;
    text-align: center;
    border-bottom: 1px dotted var(--color-gray_light);
  }

  .nav-s1 a {
    font-size: 0.5rem;
    color: var(--color-dark);
  }

  div.jy {
    padding: 20px;
    margin: 20px 0px;
    background: #fafafa;
    box-shadow: 0px 0px 10px var(--color-gray_dark);
  }

  div.jy p {
    text-indent: 2em;
  }

  /* 留言页面end---------------------------------------------------------------------------------- */

  /* 分页样式代码 */

  .wp-pagenavi {
    display: block;
    width: 100%;
    padding: 0.5rem 0 0.7rem;
    margin-right: auto;
    margin-left: auto;
    overflow: hidden;
    text-align: left;
    text-align: -moz-center;
    text-align: center;
  }

  .wp-pagenavi::before {
    display: block;
    clear: both;
    content: '';
  }

  .pages,
  .read_url,
  .recommend,
  #reward-popup,
  .wp-pagenavi a {
    display: none;
  }

  .wp-pagenavi a.prev,
  .wp-pagenavi a.next {
    display: inline-block;
  }

  .wp-pagenavi a,
  .pages {
    padding: 0.12rem 0.3rem;
    margin: 0 0.05rem;
    font-size: 0.28rem;
    color: var(--color-gray);
    text-decoration: none;
    background-color: #f0f4f5;
    border: 1px solid #dee2e6;
    border-radius: 4px;
  }

  .wp-pagenavi a.pagecount,
  .wp-pagenavi a.home_page {
    display: none;
  }

  .wp-pagenavi a.current {
    margin: 0 2px;
    font-size: 0.32rem;
    line-height: 34px;
    color: var(--color-white);
    text-decoration: none;
    background: var(--color-primary);
    background: var(--color-theme);
    border: 0;
    border-left: 2px solidvar(--color-white);
  }

  .screen-reader-text {
    display: none !important;
  }

  /* 发表文章插件样式start */
  .kw1,
  .kw2,
  .me1,
  .sy1 {
    color: #a6e22e;
  }

  .sy0 {
    color: #f92659;
  }

  .br0 {
    color: rgb(251, 31, 93);
  }

  .nu0 {
    color: #ae81ff;
  }

  .co2,
  .me2,
  .re0,
  .nu19,
  .co1 {
    color: #66d9ef;
  }

  /* 发表文章插件样式end */

  /* 后台上传图片大小位置限制start */
  .wpuf-attachment-list img {
    margin: 15px auto;
  }

  ul.wpuf-form li .wpuf-fields .wpuf-help {
    display: block;
    margin-top: 12px;
  }

  /* 后台上传图片大小位置限制end */

  .bdshare-slide-button-box {
    display: none;
  }

  /* 移动端导航start */
  #continar-right aside {
    display: none;
  }

  .cs-circleslight .br-previous,
  .cs-circleslight .br-next {
    width: 0;
    height: 0;
  }

  #header {
    display: none;
  }

  #os-herder {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 99;
    display: block;
    width: 3.2rem;
    height: 100%;
    padding: 0 15px;
    background: #293038;
    background-size: 100% 100%;
    transform: translateX(-3.21rem);
    will-change: transform;

    /* transition: all 0.25s; */
  }

  #os-herder ul.slide-left {
    margin-top: 1rem;
  }

  #os-herder ul.slide-left > li {
    width: 100%;
    text-indent: 5px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.3);
  }

  #os-herder ul.slide-left li.current-menu-item a,
  #os-herder ul.slide-left li.current-menu-item .iconfont {
    color: moccasin;
  }

  #os-herder ul.slide-left > li:nth-of-type(1) {
    border-top: 0;
  }

  #os-herder ul.slide-left > li:last-of-type {
    border-bottom: 0;
  }

  #os-herder ul.slide-left li a {
    display: block;
    width: 100%;
    height: 0.82rem;
    padding: 0.22rem 0;
    font-size: 0.28rem;
    color: rgba(255, 255, 255, 0.8);
    text-decoration: none;
  }

  #os-herder ul.slide-left li .slide_slect {
    display: none;

    /* height: 5.3rem; */
  }

  #os-herder ul.slide-left li .slide_slect a {
    padding: 0.15rem 0;
    border-top: 1px dashed rgba(255, 255, 255, 0.2);
  }

  #os-herder ul.slide-left li .slide_slect a:last-child {
    padding-bottom: 0;
  }

  #os-herder ul.slide-left li i {
    display: inline-block;
    padding-right: 0.1rem;
    font-size: 0.32rem;
    color: rgba(255, 255, 255, 0.8);
  }

  #os-herder #nav_list .sub-menu li {
    height: 0.76rem;
    line-height: 0.76rem;
  }

  #os-herder #nav_list .sub-menu li a {
    height: 100%;
    padding: 0 0 0 0.5rem;
    line-height: 0.76rem;
  }

  .os-headertop {
    position: sticky;
    top: 0;
    left: 0;
    z-index: 97;
    width: 100%;
    height: 1.2rem;
    font-size: 0.44rem;
    line-height: 1.2rem;
    text-align: center;
    background: var(--color-primary);
    background: var(--color-theme);
    background-size: 100% 100%;
    transition: all 0.25s;
  }

  .os-headertop *:not(input) {
    color: var(--color-white);
  }

  .os-headertop .weipxiu_nav {
    font-size: 0.44rem;
    text-decoration: none;
  }

  .btn_menu {
    position: absolute;
    top: 0rem;
    left: 0px;
    z-index: 3;
    width: 1rem;
    height: 1.2rem;
  }

  .btn_menu .iconfont {
    font-size: 0.46rem;
    line-height: 1.2rem;
    text-align: center;
  }

  .os-headertop img {
    display: block;
    width: 1.8rem;
    height: 0.45rem;
    margin: 0 auto;
    margin-top: 0.28rem;
  }

  #m_search {
    position: absolute;
    top: 0;
    right: 0;
    width: 1rem;
    height: 1.2rem;
  }

  #m_search i {
    font-size: 0.4rem;
    font-weight: normal;
    line-height: 1.2rem;
    text-align: center;
  }

  /* 移动端导航end */

  /* 登录注册start */
  .sign_up {
    margin-top: 0.6rem;
  }

  .sign_up a {
    display: block;
    width: 100%;
    padding: 0.13rem 0;
    margin-bottom: 0.25rem;
    font-size: 0.28rem;
    color: var(--color-white);
    text-align: center;
    background: var(--color-primary);
    background: var(--color-theme);
    border-radius: 0.08rem;
  }

  .sign_up a .iconfont {
    padding-right: 0.05rem;
    font-size: 0.3rem;
    color: var(--color-white);
    vertical-align: bottom;
  }

  /* 登录注册end */

  .cover {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 98;
    display: none;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.3);
  }

  .img-left span ul li a {
    display: none;
  }

  /* 文章加密内容start */

  .e-secret {
    text-align: center;
  }

  .e-secret label {
    font-size: 0.3rem;
    font-weight: 400;
  }

  .e-secret input {
    display: inline-block;
    vertical-align: middle;
    outline: none;
    box-sizing: border-box;
  }

  .e-secret input.euc-y-i {
    display: inline-block;
    height: 0.8rem;
    padding: 0 15px;
    font-size: inherit;
    line-height: 1;
    color: #606266;
    background-color: var(--color-white);
    background-image: none;
    border: 1px solid #dcdfe6;
    border-radius: 4px 0 0 4px;
    outline: none;
    box-sizing: border-box;
    transition: border-color 0.2s cubic-bezier(0.645, 0.045, 0.355, 1);
    -webkit-appearance: none;
  }

  .euc-y-s {
    display: inline-block;
    padding: 0.25rem 0.4rem;
    margin: 0;
    font-size: 0.28rem;
    font-weight: 500;
    line-height: 1;
    color: #606266;
    text-align: center;
    text-indent: 0;
    background: var(--color-white);
    border: 1px solid #dcdfe6;
    border-color: #dcdfe6;
    border-radius: 0 4px 4px 0;
    outline: none;
    box-sizing: border-box;
    transition: 0.1s;
    -webkit-appearance: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }

  .e-secret input.euc-y-s {
    color: var(--color-white);
    background-color: var(--color-theme);
    border-color: var(--color-theme);
  }

  #continar-left .log-text .e-secret p a,
  #continar-left .e-secret p a:hover i {
    color: var(--color-white);
  }

  /* 文章加密内容end */

  #continar-right .aside,
  .communication,
  canvas,
  #wowslider-container {
    display: none;
  }

  #cloudlightning,
  #lightning,
  #lightningSheet {
    display: block;
  }

  #site_statis {
    margin-bottom: 0.2rem;
  }

  #site_statis ul li {
    float: left;
    width: auto;
    padding: 0.1rem 0;
    margin: 0 0.3rem 0 0.15rem;
    font-size: 0.26rem;
    font-weight: 400;
    line-height: 0.54rem;
  }

  .widget-title a i {
    margin: 0 6px 0 3px;
    font-size: 0.32rem;
    text-indent: 0;
  }

  .log-text h2,
  .log-text h4,
  .h4 {
    display: block;
    width: calc(100% + 0.5rem);
    height: 0.9rem;
    margin: 15px 0 0.3rem -0.26rem;
    overflow: hidden;
    font-size: 0.32rem;
    font-weight: normal;
    line-height: 0.9rem;
    color: #444;
    text-indent: 0;
    text-indent: 0.5em;
    text-overflow: ellipsis;
    white-space: nowrap;
    background: #fbfbfb;
    border-bottom: 1px solid #39c;
    border-left: 4px solid #39c;
  }

  .log-text h3,
  .log-text h5 {
    padding: 0rem 0 0.2rem;
    margin-bottom: 0.2rem;
    font-size: 0.3rem;
    font-weight: normal;
    text-indent: 0;
    border-bottom: 1px dashed var(--color-gray_light);
  }

  .log-text h4:nth-of-type(5n + 1),
  .log-text h2:nth-of-type(5n + 1) {
    border-bottom: 1px solid #b9d329;
    border-left: 4px solid #b9d329;
  }

  .log-text h4:nth-of-type(5n + 2),
  .log-text h2:nth-of-type(5n + 2) {
    border-bottom: 1px solid #ffae5b;
    border-left: 4px solid #ffae5b;
  }

  .log-text h4:nth-of-type(5n + 3),
  .log-text h2:nth-of-type(5n + 3) {
    border-bottom: 1px solid #c0ebf7;
    border-left: 4px solid #c0ebf7;
  }

  .log-text h4:nth-of-type(5n + 4),
  .log-text h2:nth-of-type(5n + 4) {
    border-bottom: 1px solid var(--color-primary);
    border-bottom: 1px solid var(--color-theme);
    border-left: 4px solid var(--color-primary);
    border-left: 4px solid var(--color-theme);
  }

  .log-text ul,
  .log-text ol {
    padding-left: 0.3rem;
  }

  .log-text ul li,
  .log-text ol li {
    margin-bottom: 0.5rem;
    line-height: 0.7rem;
    text-indent: 0;
  }

  .tooltip span,
  .tooltip-item {
    text-align: center;
    text-indent: 0;
  }

  .tooltip-item {
    display: none;
  }

  .map,
  .js_reward,
  #default-searchbox {
    display: none;
  }

  .post-actions {
    margin-top: 0.5rem;
    text-align: center;
  }

  .post-actions .action-like {
    padding: 0.1rem 0.2rem;
    margin: 0 auto;
    font-size: 0.24rem;
    line-height: normal;
    background: var(--color-primary);
    background: var(--color-theme);
    border-radius: 0.04rem;
  }

  #continar-left .log-text .post-actions * {
    color: var(--color-white);
  }

  #player > span.cover {
    display: block;
  }

  #continar-left #demo {
    display: block;
    width: 2.3rem;
    height: 0.68rem;
    padding: 0;
    margin: 0.5rem auto;
    font-size: 0.28rem;
    line-height: 0.68rem;
    color: var(--color-white);
    text-align: left;
    text-align: center;
    text-indent: 0;
    background: var(--color-primary);
    background: var(--color-theme);
    border-radius: 0.08rem;
    text-align-last: center;
  }

  /* 雪花end */

  /* 侧边栏留言评论start */
  .tuts_comments_user_avatars {
    padding: 0.26rem 0.2rem 0;
    overflow: hidden;
  }

  .tuts_comments_user_avatars li {
    display: block;
    padding: 0.15rem 0;
    overflow: hidden;
    font-size: 0.3rem;
    border-bottom: 1px dashed var(--color-gray_shallow);
  }

  .tuts_comments_user_avatars li:last-of-type {
    border: none;
  }

  .tuts_comments_user_avatars img:not(.wp-smiley) {
    float: left;
    width: 0.72rem;
    height: 0.72rem;
    margin-right: 0.2rem;
    border-radius: 100%;
  }

  .tuts_comments_user_avatars li a,
  .tuts_comments_user_avatars li p {
    float: right;
    width: calc(100% - 0.92rem);
    margin-top: 0.1rem;
    font-size: 0.26rem;
    line-height: 0.4rem;
  }

  .tuts_comments_user_avatars li img {
    vertical-align: middle;
  }

  /* 侧边栏留言评论start */

  /* ajax loading动画start */

  @keyframes k-loadingO {
    0%,
    100% {
      transform: translate(0);
    }

    25% {
      transform: translate(160%);
    }

    50% {
      transform: translate(160%, 160%);
    }

    75% {
      transform: translate(0, 160%);
    }
  }

  #loading {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 10000;
    display: none;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.2);
  }

  .k-ball-holder {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: 45px;
    height: 45px;
    margin: auto;
  }

  .k-ball7a {
    position: absolute;
    width: 16px;
    height: 16px;
    margin: 0;
    background: #19a68c;
    border: 0;
    border-radius: 50%;
    animation: k-loadingO 2s ease infinite;
    animation-delay: -1.5s;
  }

  .k-ball7b {
    position: absolute;
    width: 16px;
    height: 16px;
    margin: 0;
    background: #f63d3a;
    border: 0;
    border-radius: 50%;
    animation: k-loadingO 2s ease infinite;
    animation-delay: -1s;
  }

  .k-ball7c {
    position: absolute;
    width: 16px;
    height: 16px;
    margin: 0;
    background: #fda543;
    border: 0;
    border-radius: 50%;
    animation: k-loadingO 2s ease infinite;
    animation-delay: -0.5s;
  }

  .k-ball7d {
    position: absolute;
    width: 16px;
    height: 16px;
    margin: 0;
    background: #193b48;
    border: 0;
    border-radius: 50%;
    animation: k-loadingO 2s ease infinite;
  }

  /* ajax loading动画end */

  /* 随机背景颜色start */
  #continar-right .color-1 {
    background: #f3a683;
  }

  #continar-right .color-2 {
    background: #778beb;
  }

  #continar-right .color-3 {
    background: #e77f67;
  }

  #continar-right .color-4 {
    background: #f5cd79;
  }

  #continar-right .color-5 {
    background: #0fb9b1;
  }

  #continar-right .color-6 {
    background: #f8a5c2;
  }

  #continar-right .color-7 {
    background: #596275;
  }

  #continar-right .color-8 {
    background: #20bf6b;
  }

  /* 随机背景颜色end */

  /* 留言板寄语start */
  #continar-left .leaving_message {
    margin-bottom: 0.5rem;
  }

  #continar-left .leaving_message h1 {
    padding: 0.3rem 0;
    margin-bottom: 0.3rem;
    font-size: 0.36rem;
    font-weight: normal;
    color: var(--color-gray);
    text-align: center;
    border-bottom: 1px solid #f0f2f7;
  }

  #continar-left .leaving_message p {
    margin-bottom: 0.3rem;
    font-size: 0.28rem;
    line-height: 0.52rem;
    text-indent: 2em;
  }

  #continar-left .leaving_message p a {
    font-size: 0.28rem;
    color: var(--color-primary);
    color: var(--color-theme);
  }

  /* 留言板寄语end */

  /* page单页start */
  .single_page {
    padding: 0.2rem 0.25rem;
    margin-bottom: 0.25rem;
    background: var(--color-white);
  }

  .single_page h1 {
    padding: 0.3rem 0;
    margin-bottom: 0.3rem;
    font-size: 0.36rem;
    font-weight: normal;
    color: var(--color-gray);
    text-align: center;
    border-bottom: 1px solid #f0f2f7;
  }

  .single_page p,
  .single_page ul li {
    margin: 0.15rem 0;
    font-size: 0.28rem;
    line-height: 0.52rem;
    text-indent: 2em;
  }

  .single_page p a {
    font-size: 0.28rem;
    color: var(--color-primary);
    color: var(--color-theme);
  }

  /* page单页end */

  /* 文章评论框start */
  .post_content h3.comments-title {
    padding: 0.1rem;
    margin: 0.1rem auto 0.22rem;
    overflow: hidden;
    font-weight: normal;
    text-align: center;
    text-align: center;
    text-overflow: ellipsis;
    white-space: nowrap;
    background: #f0f2f7;
    border-radius: 0.08rem;
  }

  .post_content .form-control {
    width: 100%;
    height: auto;
    padding: 0.1rem;
    margin: 0.2rem auto 0;
    line-height: 1.8;
    background-color: transparent;
    border: 1px solid var(--color-gray_shallow);
    outline: none;
    box-shadow: none;
    -webkit-appearance: none;
  }

  .post_content .commentform-info input {
    width: 100%;
    height: 0.5rem;
    padding: 0.32rem;
    margin: 0.1rem auto;
    border: 1px solid var(--color-gray_shallow);
    border-radius: 0.08rem;
  }

  .post_content #submit {
    width: 100%;
    padding: 0.14rem;
    margin: 0.1rem auto;
    font-size: 0.3rem;
    color: var(--color-white);
    background: var(--color-primary);
    background: var(--color-theme);
    border: 1px solid var(--color-gray_shallow);
    border-radius: 0.08rem;
  }

  #comments .comment_title {
    position: relative;
    padding: 5px 0 5px;
    font-size: 0.3rem;
    color: var(--color-gray);
    border-bottom: 1px solid #f0f2f7;
  }

  #comments .comment_title:after {
    position: absolute;
    bottom: -1px;
    left: 0;
    display: block;
    width: 1.8rem;
    height: 2px;
    background: var(--color-primary);
    background: var(--color-theme);
    content: '';
  }

  #comments .comment_title .iconfont {
    margin: 0 5px 0 10px;
    font-size: 0.32rem;
  }

  #comments .respond .login_success {
    padding: 0.1rem 0;
    margin-bottom: 0.2rem;
    font-size: 0.32rem;
    text-align: center;
    background: #f0f2f7;
    border-bottom: 1px solid #f1f1f1;
  }

  #comments .respond .login_success a {
    font-size: 0.32rem;
    color: var(--color-primary);
    color: var(--color-theme);
  }

  .commentlist .comment {
    width: 100%;
    padding-top: 0.2rem;
    overflow: hidden;
  }

  .not_message {
    margin-top: 0.35rem;
    text-align: center;
  }

  .commentlist li + .not_message {
    display: none;
  }

  .commentlist .comment .media-left img {
    float: left;
    width: 0.72rem;
    height: 0.72rem;
    margin-right: 0.2rem;
    border-radius: 100%;
  }

  #continar-left .commentlist .comment .media-body p {
    float: right;
    width: calc(100% - 0.92rem);
    margin-top: 0.1rem;
    margin-bottom: 0;
    font-size: 0.28rem;
    line-height: 0.4rem;
  }

  .comment .media-body .wp-smiley {
    height: auto !important;
    max-height: 1.5em !important;
    vertical-align: sub;
  }

  #continar-left .commentlist .comment .media-body p a {
    font-size: 0.28rem;
    color: #9466ff;
  }

  .commentlist .comment .comment-metadata {
    float: right;
    width: calc(100% - 0.92rem);
    margin-top: 0.1rem;
    font-size: 0.28rem;
    line-height: 0.4rem;
  }

  ol.children {
    padding-bottom: 0.2rem;
    margin-top: 0.6rem;
    border-bottom: 1px solid var(--color-gray_shallow);
  }

  .commentlist ol {
    padding-left: 0.8rem;
  }

  .commentlist .comment:last-of-type ol.children:last-of-type {
    border: 0;
  }

  ol.commentlist {
    margin: 0.2rem 0;
  }

  #comments .warning-text {
    display: block;
    display: none;
    font-size: 0.24rem;
    line-height: 0.5rem;
  }

  #comments .warning-text a {
    font-size: 0.24rem;
    color: var(--color-primary);
    color: var(--color-theme);
  }

  .media {
    overflow: hidden;
  }

  .commentlist .author_name,
  .commentlist .author_name a {
    font-size: 0.3rem;
  }

  .system_box {
    margin: 8px 0 2px;
  }

  .system_box {
    padding-left: 0.92rem;
  }

  .comment .media-body .system {
    padding: 0.05rem 0.05rem;
    font-size: 0.24rem;
    color: var(--color-white);
    vertical-align: initial;
    background: linear-gradient(90deg, #5087ec, #d95040, #f2bd42);
    border-radius: 3px;
  }

  .comment .media-body .browser {
    padding: 0.05rem 0.05rem;
    font-size: 0.24rem;
    color: var(--color-white);
    vertical-align: initial;
    background: linear-gradient(90deg, #fc5c7d, #6a82fb);
    border-radius: 3px;
  }

  #commentform .iconfont {
    padding-right: 0.1rem;
    font-size: 0.28rem;
  }

  /* 文章评论框end */

  .codecolorer,
  .codecolorer *,
  .codecolorer-container,
  .codecolorer-container * {
    font: 0.28rem/0.45rem 'sf-pro-text_regular', 'Montserrat', 'Microsoft Yahei' !important;
  }

  /* 屏蔽底部登录注册悬浮窗 */
  .login_alert,
  .mod-index__feature {
    display: none;
  }

  /* 侧边栏标签、收藏 */
  #tagCollection {
    width: 200%;
    overflow: hidden;
    transition: transform 0.45s;
  }

  #tagCollection .items {
    display: grid;
    float: left;
    width: 50%;
    grid-template-columns: repeat(3, auto);
    grid-gap: 0.15rem;
  }

  .page_switch {
    display: flex;
    justify-content: center;
    margin-bottom: 0.2rem;
  }

  .page_switch span {
    width: 0.7rem;
    height: 0.07rem;
    background: #eee;
    border: 1px solid #eee;
  }

  .page_switch span:first-of-type {
    border-right: 1px solid transparent;
  }

  .page_switch span.active {
    background: var(--color-theme);
    border: 1px solid var(--color-theme);
  }
}
